NODE_ENV=development
PORT=4000

DATABASE_URL=postgresql://neondb_owner:npg_Hz1eM9jyhnUp@ep-damp-meadow-a54j5cfs-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

REDIS_URL=rediss://default:gQAAAAAAAjijAAIgcDJhODU3ZGRjYzQ2Yjk0N2M4YWJiYjA5NDYyZTg5Yzg0Ng@finer-racer-145571.upstash.io:6379

JWT_ACCESS_SECRET=change-me-access-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_REFRESH_EXPIRES_IN=30d

SEED_SUPER_ADMIN_EMAIL=admin@healthsurvey.local
SEED_SUPER_ADMIN_PASSWORD=ChangeMe123!
